<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MY BLOG</title>
</head>

<body>

    <h1>{{blog.title}}</h1>
    <p>writer : {{blog.writer}}</p>
    <p>body : {{blog.body}}</p>


    <a href="{% url 'home'%}">
        <input type="button" value="HOME">
    </a>

    <a href="{% url 'edit' blog.id %}">
        <input type="button" name="edit_btn" value="수정">
    </a>

    <a href="{% url 'delete' blog.id %}">
        <input type="button" name="del_btn" value="삭제 " onclick="alert('삭제되었습니다!')">
    </a>

</body>

</html>



<style>

a{ text-decoration:none }

</style>